<panel ng-show="serie" ng-cloak>
    <panel-heading><h1>{{serie.name}}</h1></panel-heading>
    <p>{{serie.summary}}</p>
    <p>
        <a class="btn btn-primary" ng-click="playRandom(serie)"><span class="glyphicon glyphicon-play"></span> {{ 'VIDEO_PLAY' | translate }}</a>
    </p>
</panel>
<div class="col-sm-4 col-md-2" ng-repeat="season in seasons">
    <tile image="{{season.images[0].pathKey | imagePath : 300 : 400 : 'jpg' : 'hrbox' : 'placeholder': 'hrbox_ffffff'}}" title="{{season.name}}" index="$index">
        <h4 class="space-nowrap overflow-hidden"><a ui-sref="mediamine.videolib.season({id: season.id})">{{season.name}}</a></h4>
    </tile>
</div>