<accordion close-others="{{false}}">
    <accordion-group heading="Genre">
        <span ng-repeat="genre in genres"><span class="btn btn-primary btn-sm margin-bottom-xxs" ng-click="$root.search.genre = genre.name">{{genre.name}}</span>{{$last ? '' : ' '}}</span>
    </accordion-group>
    <accordion-group heading="Year">
    </accordion-group>
    <accordion-group heading="Rating">
    </accordion-group>
    <accordion-group heading="Library">
    </accordion-group>
    <accordion-group heading="Viewed">
    </accordion-group>
</accordion>