<div ng-show="serie" ng-cloak>
    <div class="page-header">
        <h1>{{serie.name}}</h1>
    </div>
    <p>{{serie.summary}}</p>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Seasons
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 col-md-3 mb20" ng-repeat="season in serie.seasons">
                        <div class="thumbnail">
                            <div class="h300p ovfh">
                                <img class="w100" ng-src="images/400-400-{{season.images[0].pathKey}}.jpg" alt="{{season.name}}">
                            </div>
                            <div class="caption">
                                <h4 class="nowrap ovfh"><a href="#/season/{{season.id}}">{{season.name}}</a></h4>
                                <p class="h50p ovfh">{{season.summary}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>