<div class="h100 oScrollY">
    <div class="col-sm-6 col-md-3 mbm" ng-repeat="serie in series | filter:serieFilter">
        <div class="thumbnail">
            <div class="h300p ovfh">
                <img class="w100" ng-src="images/400-400-{{serie.images[0].pathKey}}.jpg" alt="{{serie.name}}">
            </div>
            <div class="caption">
                <h4 class="nowrap ovfh"><a href="#/series/{{serie.id}}">{{serie.name}}</a></h4>
                <p class="h50p ovfh">{{serie.summary}}</p>
            </div>
        </div>
    </div>
</div>