<div class="h100 oScrollY">
    <div class="mbm">
        <input type="search" ng-model="serieFilter" placeholder="filter" />
    </div>
    <div class="col-sm-6 col-md-3 mbm" ng-repeat="serie in series | filter:serieFilter">
        <div class="thumbnail">
            <div style="height:290px;overflow:hidden;"><img ng-src="image/{{serie.images[0].id}}" alt="{{serie.name}}" style="width:100%;"></div>
            <div class="caption">
                <h4 class="nowrap ovfh"><a href="#/series/{{serie.id}}">{{serie.name}}</a></h4>
                <p class="h40px">{{serie.summary}}</p>
            </div>
        </div>
    </div>
</div>