<div class="modal-header">
    <h3 class="modal-title">{{ 'LOGIN_TITLE' | translate }}</h3>
</div>
<form ng-submit="submit()">
    <div class="modal-body">
        <div class="form-group">
            <label for="value">{{ 'USERNAME' | translate }}</label>
            <input type="text" class="form-control" id="username" placeholder="{{ 'USERNAME' | translate }}" ng-model="login.username">
        </div>
        <div class="form-group">
            <label for="value">{{ 'PASSWORD' | translate }}</label>
            <input type="password" class="form-control" id="password" placeholder="{{ 'PASSWORD' | translate }}" ng-model="login.password">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="submit()">{{ 'LOGIN' | translate }}</button>
    </div>
</form>