// Helpers
// ==========================================================================

//
// These are single-entity styles that are hard to extract to modules, like
// .clearfix, .pull-left and .hide-text in Twitter Bootstrap
//
.nowrap {
    white-space: nowrap;
}

.ovfh {
    overflow: hidden;
}

.oScrollY {
    overflow-y: scroll;
}

.oHiddenY {
    overflow-y: hidden;
}

.oScrollX {
    overflow-x: scroll;
}

.oHiddenX {
    overflow-x: hidden;
}

.vTop {
    vertical-align: top;
}