<panel ng-cloak>
    <panel-heading><h1>{{ 'ADMIN_SETTING_TITLE' | translate }}</h1></panel-heading>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>{{ 'ADMIN_SETTING_GROUP' | translate }}</th>
            <th>{{ 'ADMIN_SETTING_KEY' | translate }}</th>
            <th>{{ 'ADMIN_SETTING_VALUE' | translate }}</th>
            <th>{{ 'ADMIN_SETTING_ACTION' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="setting in settings">
            <td>{{setting.id}}</td>
            <td>{{setting.groupKey}}</td>
            <td>{{setting.key}}</td>
            <td>{{setting.value}}</td>
            <td>
                <div ng-if="setting.editable">
                    <button type="button" class="btn btn-primary btn-xs" ng-click="edit(setting)">{{ 'ADMIN_SETTING_EDIT' | translate }}</button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</panel>