<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <a class="navbar-brand" href="#">MediaMine</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a></a></li>
        </ul>
        <div ng-repeat="item in menuItems">
            <div ng-if="item.type == 'link'">
                <ul class="nav navbar-nav {{item.class}}">
                    <li active-link="active">
                        <a ng-if="item.sref" ui-sref="{{item.sref}}">{{ item.label | translate }}</a>
                        <a ng-if="!item.sref" href="{{item.href}}">{{ item.label | translate }}</a>
                    </li>
                </ul>
            </div>
            <div ng-if="item.type == 'partial'" ng-include="item.templateUrl"></div>
            <div ng-if="item.type == 'dropdown'">
                <ul class="nav navbar-nav {{item.class}}">
                    <li class="dropdown">
                        <a class="dropdown-toggle"> {{ item.label | translate }} <i class="caret"></i></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="subItem in item.subItems">
                                <a ng-if="subItem.sref" ui-sref="{{subItem.sref}}">{{ subItem.label | translate }}</a>
                                <a ng-if="!subItem.sref" href="{{subItem.href}}">{{ subItem.label | translate }}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- /.navbar-collapse -->
</nav>
