<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>MediaMine</title>
    <link rel="stylesheet" href="assets/css/main.css?bust=v0.4.0">
</head>
<body>
<div>
    <div ng-repeat="headerView in headerViews" ui-view="{{headerView.name}}" class="{{headerView.class}}"></div>
</div>
<div class="container-fluid height-100">
    <div class="row height-100">
        <div ng-hide="!$root.showView('left')" class="col-md-2 left-frame">
            <div class="frame-content">
                <div ng-repeat="leftView in leftViews" ui-view="{{leftView.name}}" class="{{leftView.class}}"></div>
            </div>
        </div>
        <div class="col-md-{{$root.viewSize(12, -2)}} main-frame">
            <div class="col-md-12 frame-content" when-scrolled="$root.$emit('main.frame.scroll')">
                <div ui-view></div>
            </div>
        </div>
        <div ng-hide="!$root.showView('right')" class="col-md-2 right-frame">
            <div ng-repeat="rightView in rightViews" ui-view="{{rightView.name}}" class="{{rightView.class}}"></div>
        </div>
    </div>
</div>
<div>
    <div ng-repeat="footerView in footerViews" ui-view="{{footerView.name}}" class="{{footerView.class}}"></div>
</div>
<toaster-container toaster-options="{'position-class': 'toast-top-center'}"></toaster-container>
<!-- Scripts -->
<script src="vendor/requirejs/require.js"></script>
<script>
    var MEDIAMINE_ENV = 'prod';
    var MEDIAMINE_VERSION = '0.4.0' + (('dev' === MEDIAMINE_ENV) ? '.' + (new Date()).getTime() : '');
    var MEDIAMINE_URL_ARG = 'bust=v' + MEDIAMINE_VERSION;
    var MEDIAMINE_URL_ARG_P = '?' + MEDIAMINE_URL_ARG;


    var MEDIAMINE_URL = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '');

    // obtain requirejs config
    require(['require', './js/config-require.js' + MEDIAMINE_URL_ARG_P], function (require, config) {

        // set cache beater
        config.urlArgs = MEDIAMINE_URL_ARG;

        // update global require config
        window.require.config(config);
        window.mediamine = {
            serverUrl: MEDIAMINE_URL + '/',
            apiUrl: MEDIAMINE_URL + '/api',
            client: MEDIAMINE_URL + '/client.json'
        };
        // load app
        require(['./js/main.js']);
    });
</script>

</body>
</html>
